<!DOCTYPE html>
<html lang="en">
<head>
    {{template "sharedHead"}}
    <title>{{block "title" .}}Go-Short-Link{{end}}</title>
</head>
<body>
{{template "body" .}}
{{template "footer"}}
</body>
</html>

{{define "sharedHead"}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <style>
        :root {
            --bg-color: #f0f0f0;
            --text-color: #000;
        }

        html {
            background-color: var(--bg-color);
            color: var(--text-color);
            font-family: sans-serif;
            padding: 1em;
            width: 85%;
            min-width: 8em;
            max-width: 60em;
            margin: auto;
            text-align: center;
        }

        .link {
            overflow-wrap: break-word;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .bold {
            font-weight: bold;
        }

        #footer {
            max-width: 30em;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-size: .8em;
            margin-top: 3em;
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --bg-color: #000;
                --text-color: #fff;
            }
        }
    </style>
    <link rel="icon" href="{{block "icon" .}}data:;base64,={{end}}">
{{end}}

{{define "footer"}}
    <footer id="footer">
        <hr>
        <p>
            Page rendered at: <span id="render-time" class="timestamp">{{currentTime.Format timestampFormat}}</span><br>
            Last mapping update: <span id="update-time" class="timestamp">{{lastUpdate.Format timestampFormat}}</span>
        </p>
        <p>
        {{if showServerName}}
            {{if showRepositoryLink}}
                <a class="bold link" href="https://github.com/fanonwue/go-short-link">{{serverName}}</a>
            {{else}}
                <span class="bold">{{serverName}}</span>
            {{end}}
            <br>
        {{end}}
            © 2023-{{currentTime.Year}} ZenDrake
        </p>
        <script>
            "use strict";

            function utcToLocal(timestampString) {
                return new Date(timestampString).toLocaleString(undefined, {
                    year: "numeric",
                    month: "2-digit",
                    day: "2-digit",
                    hour: "2-digit",
                    minute: "2-digit",
                    second: "2-digit",
                    timeZoneName: "short"
                })
            }

            document.querySelectorAll(".timestamp").forEach(el => {
                el.innerText = utcToLocal(el.innerText)
            })

        </script>
    </footer>
{{end}}