{{define "title"}}Not Found - No redirect available{{end}}

{{define "body"}}
    <p>404 Not Found - No redirection target available for</p>
    <p class="bold link">{{.RedirectName}}</p>
    <p>Looks like someone may have sent you the wrong link, or you mistyped somewhere!</p>
{{end}}
