{{define "title"}}
    Redirect Information
{{end}}

{{define "body"}}
    <p>The redirect</p>
    <p class="bold" id="link">{{.RedirectName}}</p>
    <p>will lead to</p>
    <p class="bold" id="link">{{.Target}}</p>
{{end}}
