{{define "title"}}Redirect Information{{end}}

{{define "body"}}
    <p>The redirect</p>
    <p class="bold link">{{.RedirectName}}</p>
    <p>will lead to</p>
    <p class="bold link"><a href="{{.Target}}">{{.Target}}</a></p>
{{end}}
